{% extends 'layout.html.twig' %}

{% block body %}
    <a href="/task/create">Create new book</a>
    {% for task in tasks %}
        <p>
            {{ task.email }}
        </p>
        <p>
            {{ task.username }}
        </p>
        <p>
            {{ task.task }}
        </p>
    {% endfor %}
{% endblock %}
